<app-nav-menu></app-nav-menu>
<div class="container">
    <div class="search-header">
      <h5>Applications</h5>
      <div class="search-container">
        <div class="search-input-wrap">
          <svg class="search-icon" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
          </svg>
          <input type="text" class="search-input" placeholder="Search">
        </div>
      </div>
    </div>
    <ng-container>
      <ng-container>
        <table mat-table>
          <ng-container matColumnDef="applicationNumber">
            <th mat-header-cell *matHeaderCellDef>Application Number</th>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
          </ng-container>
          <ng-container matColumnDef="dateApplied">
            <th mat-header-cell *matHeaderCellDef>Date Applied</th>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
          </ng-container>
          <tr class="table-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" class="table-row"></tr>
        </table>
      </ng-container>
    </ng-container>
  </div>
  <div class="add-btn-container">
    <button mat-fab class="add-btn" [routerLink]="['/create-application']"
            matTooltip="Add new application" matTooltipPosition="right" aria-label="Button that adds a new application.">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z" fill="white" />
      </svg>
    </button>
  </div>
  