header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1976d2;
    height: 56px;
  
    .left-container {
      margin-left: 1rem;
      .title {
        font-size: 20px;
        margin-left: 1.5rem;
        font-weight: 300;
        color: white;
    
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
    }
}
